body {
    background-image: url(imgtab2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background: linear-gradient(to right, #0f172a, #334155);
}

.container {
    border-radius: 30px;
    text-align: center;
    margin-top: 20px;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}